.logo {
  width: 190px;
  height: 50px;
  margin-top: 20px;
}

.seta {
  background-image: url('./imagens/seta.png');
  background-repeat: no-repeat;
  height: 640px;
  background-position: right;
}

.escritorio {
  width: 370px;
  height: 410px;
  position: absolute;
  top: 130px;
  left: 1000px;
  background-image: url('./imagens/escritorio.png');
}

.btn-black {
  color: white;
  font-weight: 500;
  background-color: black;
  padding: 0 30px;
}